	<link rel="shortcut icon" type="image/png" href="/img/favicon.png"/>
	<meta property="fb:app_id"        content="520448788393828" />
	<meta property="og:title"         content="Eu ganharia R$:{{{resultadoPosts}}},00! E você, quanto ganharia?" />
	<meta name="title"                content="Eu ganharia R$:{{{resultadoPosts}}},00! " />
	<meta property="og:url"           content="https://sleepy-garden-12882.herokuapp.com/gerar/{{resultadoId}}" />
	<meta property="og:type"          content="website" />
	<meta property="og:description"   content="" />
	<meta property="og:image"         content="http://sleepy-garden-12882.herokuapp.com/img/quiz-big.jpg" />
	<meta property="og:image:secure_url" content="https://sleepy-garden-12882.herokuapp.com/img/quiz-big.jpg" />
	<title>Eu ganharia R$:{{{resultadoPosts}}},00!</title>
</head>
<body onload="triggerContainer();">

<div id="fb-root"></div>
<script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = 'https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v3.1&appId=520448788393828&autoLogAppEvents=1'; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));

function triggerContainer() {
	document.getElementById('main-container').style.opacity = "1";
}
</script>

<div id="main-container" style="transition:all 1s cubic-bezier(0.52, 0, 0.02, 1.5) 0s;opacity:0">
	<div id="result-box">
		<h2 class="result">{{resultadoNome}}, você ganharia:</h2><h1 class="result">R$:{{resultadoPosts}},00!</h1>
		<input type="button" class="share" value="Compartilhar no Facebook" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent('https://sleepy-garden-12882.herokuapp.com/gerar/{{resultadoId}}'),'facebook-share-dialog','width=626,height=436'); return false;">
	</div>
	<p>Está esperando o que? <a href="http://localhost:3000">Comece usando o Vika agora mesmo</a></p>
</div>